<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="/css/styles.css">
    <title>About</title>
    <link rel="icon" href="/img/w.png">
</head>

<body>
    <div class="main-content">{{>header}}
    <p>This site was created by Dmitriy. It uses data from mapbox and darksomething</p>
    <img src="/img/shiq.png" class="por"></div>
    
    {{>footer}}
</body>

</html>