<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="/css/styles.css">
    <title>Help</title>
    <link rel="icon" href="/img/w.png">
</head>

<body>
    <div class="main-content">{{>header}}
    <p>I can help you with your {{problem}}</p></div>
    
    {{>footer}}
</body>

</html>